@{
    ViewBag.Title = "Create data";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Cities" asp-action="Add">Add city</a>
    <a class="navbar-brand" asp-area="" asp-controller="Countries" asp-action="AddCountry">Add Country</a>
    <a class="navbar-brand" asp-area="" asp-controller="Mountaines" asp-action="Add">Add mountain</a>
    <a class="navbar-brand" asp-area="" asp-controller="Rivers" asp-action="Add">Add river</a>
</div>
