@{
    ViewBag.Title = "All Visits";
}

<div class="text-center">
<a class="navbar-brand" asp-area="" asp-controller="Cities" asp-action="MyCities">All visited cities</a>
<a class="navbar-brand" asp-area="" asp-controller="Countries" asp-action="MyCountries">All visited countries</a>
<a class="navbar-brand" asp-area="" asp-controller="Mountaines" asp-action="MyMountains">All visited mountains</a>
<a class="navbar-brand" asp-area="" asp-controller="Rivers" asp-action="MyRivers">All visited rivers</a>
</div>

