@using GeographyCore.ViewModels.StreetModels
@model List<StreetShowModel>

@{
    ViewBag.Title = "All Streets";
}

<div class="text-center row">
    @foreach (var street in Model)
    {

        <div class="card-body">

            <h5 class="mb-0"> Name of the street: @street.Name</h5>
            <p class="mb-0">City: @street.City</p>
            <p class="mb-0">Streets s long: @street.Length</p>

        </div>
    }
</div>
