
@{
    ViewBag.Message = "City Is Already In";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Cities" asp-action="Add">Add new City</a>
</div>

<div class="text-center">
    <h3>@ViewBag.Message</h3>
</div>