@model List<AddMounainrViewModel>

@{
    ViewBag.Title = "All Mountines";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Mountaines" asp-action="Add">Add new Mountine</a>
</div>


<div class="text row">
    @foreach (var high in Model)
    {
        <div class="card-body">
            <h5 class="card-title mt-1">@high.Name</h5>
            <p class="mb-0">Land: @high.Area</p>
            <p>Continent: @high.Continent</p>
            <p>Country: @high.Country</p>
        </div>
    }
</div>