@using GeographyCore.ViewModels.HouseModels
@model List<HouseShowModel>

@{
    ViewBag.Title = "All Houses";
}

<div class="text-center row">
    @foreach (var house in Model)
    {

        <div class="card-body">

            <h5 class="mb-0"> Street:@house.Street</h5>
            <p class="mb-0">Address: @house.Adress</p>
            <p class="mb-0">Number of floors: @house.NumberFloors</p>
            <h5 class="mb-0"> Residents:
            @for (int i = 0; i < house.Resudents.Count; i++)
            {
                @house.Resudents[i].Email
            }
            </h5>
        </div>
    }
</div>