@{
    ViewBag.Message = "Country Is Already In";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Countries" asp-action="Add">Add new Country</a>
</div>

<div class="text-center">
    <h3>@ViewBag.Message</h3>
</div>