@model List<People>


@{
    ViewBag.Title = "All registered users";
}

@for (int i = 0; i < Model.Count; i++)
{
    int one = i;
    <table class="table">

        @if (i == 0)
        {

            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
            </tr>

        }

        <tr>
            <th scope="row">@(one+1)</th>
            <td>@Model[i].Id</td>
            <td>@Model[i].Name</td>
        </tr>


    </table>

}





