@model List<AddRiverViewModel>

@{
    ViewBag.Title = "All Rivers";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Rivers" asp-action="Add">Add new River</a>
</div>

<div class="text row">
    @foreach (var river in Model)
    {
        <div class="card-body">
            <h5 class="card-title mt-1">@river.Name</h5>
            <p class="mb-0">Length: @river.Length</p>
            <p>Continent: @river.Continent</p>
            <p>Country of origin: @river.Country</p>
        </div>
    }
</div>