@{
    ViewBag.Message = "River Is Already In";
}

<div class="text-center">
    <a class="navbar-brand" asp-area="" asp-controller="Mountaines" asp-action="Add">Add new Mountaine</a>
</div>

<div class="text-center">
    <h3>@ViewBag.Message</h3>
</div>